<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
	integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
	crossorigin="anonymous">
<head>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Hola</h1>
	<a class="btn btn-primary" href="/b"> Añadir cliente </a>

	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>id</th>
					<th>nombre</th>
					<th>apellido</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="c: ${clientes}">
					<td th:text="*{c.idper}"></td>
					<td th:text="*{c.nombre}"></td>
					<td th:text="*{c.Apellido}"></td>

				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>